# Run All. Application is at the bottom. Some blocks of code are labeled. If needed convert from Markdown to Code. The main method where I originally added into the tables is commented because of already loaded database.

In [1]:
#Let's load the sql extension and connect to a database **lab2.db** using:
%load_ext sql
#%reload_ext sql
%sql sqlite:///Project.db

In [2]:
import sqlite3
from sqlite3 import Error

In [3]:
def create_connection(db_file):
    #create a database connection to a SQLite database 
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
    
    return conn

In [4]:
# create a table from the create_table_sql statement
#param conn: Connection object
#param create_table_sql: a CREATE TABLE statement

def create_table(conn, create_table_sql):

    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [5]:
def main():
    database = r"Database.db"
 
    sql_create_students_table = """ CREATE TABLE IF NOT EXISTS students (
                                        sid text PRIMARY KEY NOT NULL,
                                        name text
                                    ); """
 
    sql_create_courses_table = """CREATE TABLE IF NOT EXISTS courses (
                                    cid text PRIMARY KEY NOT NULL,
                                    cname text NOT NULL,
                                    credits integer
                                );"""
    
    sql_create_enroll_table = """CREATE TABLE IF NOT EXISTS enroll (
                                    sid text NOT NULL,
                                    cid text NOT NULL,
                                    FOREIGN KEY (sid) REFERENCES students (sid),
                                    FOREIGN KEY (cid) REFERENCES courses (cid)
                                );"""
 
    # create a database connection
    conn = create_connection(database)
 
    # create tables
    if conn is not None:
        # create students table
        create_table(conn, sql_create_students_table)
 
        # create courses table
        create_table(conn, sql_create_courses_table)
        
        # create enroll table
        create_table(conn, sql_create_enroll_table)
    else:
        print("Error! cannot create the database connection.")

In [6]:
if __name__ == '__main__':
    main()

2.6.0

In [7]:
#Create a new project into the projects table
#param conn:
#param project:
#return: project id

def create_students(conn, students):

    sql = ''' INSERT INTO students(sid,name)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql, students)
    return cur.lastrowid

In [8]:
#Create a new project into the projects table
#param conn:
#param project:
#return: project id

def create_courses(conn, courses):

    sql = ''' INSERT INTO courses(cid,cname,credits)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, courses)
    return cur.lastrowid

In [9]:
#Create a new project into the projects table
#param conn:
#param project:
#return: project id

def create_enroll(conn, enroll):

    sql = ''' INSERT INTO enroll(sid,cid)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql, enroll)
    return cur.lastrowid

def main():
    database = r"Database.db"

    # create a database connection
    conn = create_connection(database)
    with conn:
        
        # create 5 Students
        Oswel =(1001, 'Oswel');
        Estimore =(1002, 'Estimore');
        Lavus =(1003, 'Lavus');
        Percy =(1004, 'Percy');
        Elsa =(1005, 'Elsa');
        create_students(conn, Oswel);
        create_students(conn, Estimore);
        create_students(conn, Lavus);
        create_students(conn, Percy);
        create_students(conn, Elsa);

        # create 5 Courses 
        Caldari =(1, "Caldari", 4);
        Amarr=(2, "Amarr", 4);
        Gallente=(3, "Gallente", 4);
        Minmatar=(4, "Minmatar", 4);
        Ore=(5, "Ore", 4);
        create_courses(conn, Caldari);
        create_courses(conn, Amarr);
        create_courses(conn, Gallente);
        create_courses(conn, Minmatar);
        create_courses(conn, Ore);

        # create 10 Enrolled
        Enroll_1 =(1001, 1);
        Enroll_2 =(1001, 5);
        Enroll_3 =(1002, 3);
        Enroll_4 =(1002, 4);
        Enroll_5 =(1003, 2);
        Enroll_6 =(1003, 5);
        Enroll_7 =(1004, 1);
        Enroll_8 =(1004, 2);
        Enroll_9 =(1005, 3);
        Enroll_10 =(1005, 5);
        create_enroll(conn, Enroll_1);
        create_enroll(conn, Enroll_2);
        create_enroll(conn, Enroll_3);
        create_enroll(conn, Enroll_4);
        create_enroll(conn, Enroll_5);
        create_enroll(conn, Enroll_6);
        create_enroll(conn, Enroll_7);
        create_enroll(conn, Enroll_8);
        create_enroll(conn, Enroll_9);
        create_enroll(conn, Enroll_10);

if __name__ == '__main__':
    main()

In [10]:
def select_all_students(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM students")
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [11]:
def select_all_courses(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM courses")
    rows = cur.fetchall()
    for row in rows:
        print(row)

In [12]:
def select_all_enroll(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM enroll")
    rows = cur.fetchall()
    for row in rows:
        print(row)

# Methods below ran in application

In [13]:
def List(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM courses")
    rows = cur.fetchall()
    for row in rows:
        print(row)
    print("List success")

In [14]:
def Enroll(conn, courseID, studentID):
    database = r"Database.db"
    conn1 = create_connection(database)
    with conn:
        strCourseID =  f'{courseID}'
        strStudentID =  f'{studentID}'
        cur = conn.cursor()
        cur.execute("SELECT COUNT(*) FROM enroll WHERE cid=" + strCourseID + " AND sid=" + strStudentID                                                                                                                                                                                                                                                                                                                                                                                                  )
        rows = cur.fetchall()
        for row in rows:
            print()
        count = row[0]
        if count == 0:
            EnrollStudent = (studentID, courseID);
            create_enroll(conn, EnrollStudent);
            print("Enroll Success")
        else:
            print("Class already enrolled")

In [15]:
def Withdraw(conn,courseID,studentID):
    cur = conn.cursor()
    strStudentID =  f'{studentID}'
    strCourseID =  f'{courseID}'
    cur.execute("DELETE FROM enroll WHERE cid=" + strCourseID + " AND sid=" + strStudentID)
    conn.commit()
    print()
    print("Withdraw Success")

In [16]:
def Search(conn,courseName):
    cur = conn.cursor()
    strCourseName =  f'{courseName}'
    cur.execute("SELECT * FROM courses WHERE cname='" + strCourseName + "'")
    rows = cur.fetchall()
    for row in rows:
        print(row)
    print("Search Success")

In [17]:
def myClasses(conn, studentID):
    cur = conn.cursor()
    strStudentID =  f'{studentID}'
    cur.execute("SELECT C.cid,C.cname FROM courses C, enroll E WHERE E.cid = C.cid AND sid=" + strStudentID)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    print("My classes Success")

# APPLICATION 
    | | | | | | | | | | | 
    V V V V V V V V V V V

In [18]:
studentID = input('Enter studentid (-1 to add a new student): ')

database = r"Database.db"
conn = create_connection(database)
with conn:
    userInput = "";
    
    if (studentID == "-1"):
        cur = conn.cursor()
        cur.execute("SELECT MAX(sid) FROM students")
        rows = cur.fetchall()

        str =  ''.join(rows[0])
        studentID = int(str) + 1 
        studentName = input("Enter Students Name: ")
        newStudent =(studentID, studentName);
        create_students(conn, newStudent);
        stringID = f'{studentID}'
        cur.execute("SELECT * FROM students WHERE sid=" + stringID)
        
        rows = cur.fetchall()
        print("Updated Student: ")
        for row in rows:
            
            print(row)
    
    
    while userInput != "X":
        print("\033[1;36;40m                                                                                       \033[0;34;0m ")
        print("Enter Key to Perform the Method")
        print("(L) - List: Lists all records in the course table")
        print("(E) - Enroll: Enrolls the active student in a course")
        print("(W) - Withdrawl: Deletes an entry in the Enrolled table corresponding to active student")
        print("(S) – Search: Search course based on substring of course name")
        print("(M) – My Classes: lists all classes enrolled in by the active student")
        print("(X) – Exit: exit application")
        userInput = input()
        
        if userInput == "L":
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            List(conn);
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
        if userInput == "E":
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            courseID = input("Input courseID: ");
            Enroll(conn, courseID,studentID);
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
        if userInput == "W":
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            courseID = input("Input courseID: ");
            Withdraw(conn, courseID, studentID)
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
        if userInput == "S":
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            courseName = input("Enter Course Name: ")
            Search(conn, courseName)
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
        if userInput == "M":
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            myClasses(conn, studentID)
            print("\033[1;32;42m                                                                                       \033[0;34;0m ");
            
        print("\033[1;36;40m                                                                                       \033[0;34;0m ")
        
    print("\033[1;37;41mApplication Closed                                                                     ")

Enter studentid (-1 to add a new student): X
2.6.0

Enter Key to Perform the Method
(L) - List: Lists all records in the course table
(E) - Enroll: Enrolls the active student in a course
(W) - Withdrawl: Deletes an entry in the Enrolled table corresponding to active student
(S) – Search: Search course based on substring of course name
(M) – My Classes: lists all classes enrolled in by the active student
(X) – Exit: exit application
X

Application Closed

# DELETE TABLES
database = r"Database.db"
conn = create_connection(database)
with conn:
    cur = conn.cursor()
    cur.execute("DELETE FROM students")
    cur.execute("DELETE FROM courses")
    cur.execute("DELETE FROM enroll")

In [19]:
# Display All Tables
database = r"Database.db"
conn = create_connection(database)
with conn:
        print("Students ===========================")
        select_all_students(conn);
        print("Courses ===========================")
        select_all_courses(conn);
        print("Enroll ===========================")
        select_all_enroll(conn);

2.6.0
Students ===========================
('1001', 'Oswel')
('1002', 'Estimore')
('1003', 'Lavus')
('1004', 'Percy')
('1005', 'Elsa')
('1006', 'SoYoung')
Courses ===========================
('1', 'Caldari', 4)
('2', 'Amarr', 4)
('3', 'Gallente', 4)
('4', 'Minmatar', 4)
('5', 'Ore', 4)
Enroll ===========================
('1001', '1')
('1001', '5')
('1002', '3')
('1002', '4')
('1003', '2')
('1003', '5')
('1004', '1')
('1004', '2')
('1005', '3')
('1005', '5')
('1006', '1')
('1006', '5')